---
import ExpoIcon from "./icons/ExpoIcon.astro";
import JavaScriptIcon from "./icons/JavaScriptIcon.astro";
import ReactNativeIcon from "./icons/ReactNativeIcon.astro";

const TAGS = {
  REACT_NATIVE: {
    name: "React Native",
    class: "bg-gray-900 text-white",
    icon: ReactNativeIcon,
  },
  EXPO: {
    name: "Expo",
    class: "bg-white/80 text-black",
    icon: ExpoIcon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-gray-900 text-white-",
    icon: JavaScriptIcon,
  },
};
const PROJECTS = [
  {
    title: "React Native Jobs",
    description: "A job search application built with React Native and Expo, leveraging JavaScript for seamless functionality. The app integrates the Jsearch API as its primary job source, delivering reliable and up-to-date job listings.",
    link: "#",
    github: "https://github.com/frederam/react-native-jobs",
    image: "/projects/RNJobs.webp",
    tags: [TAGS.REACT_NATIVE, TAGS.EXPO, TAGS.JAVASCRIPT],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img class="rounded shadow-2xl shadow-white/10" src={image} alt={`Project ${image} screenshot`} />
    </article>
  ))
}
